html {
  box-sizing:border-box;
}

*, *::before, *::after {
  box-sizing:inherit;
}

body {
  background-color: rgb(63, 177, 63);
  margin: 0;
}

#main-container {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

#main-container h2 {
  text-align: center;
  font-size: 46px;
  border: 7px solid black;
  width: 260px;
  margin: 10px 0px 20px 10px;
}

.login {
  width: 400px;
  margin: 20px auto;
}

.pad {
  padding: 20px;
}

.loginIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .loginButton {
  margin-top: 20px;
  background-color: black;
  color: white;
}

.login .loginButton:hover {
  background-color: rgb(70, 69, 69);
}

.or {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 0;
  font-size: 18px;
  text-align: center;
  font-family: "Roboto";
  font-weight: lighter;
  width: 100%;
}

.or hr {
  width: 40%;
}

.login .registerButton {
  background-color: rgb(145, 221, 31);
  color: white;
}

.login .registerButton:hover {
  background-color: rgb(181, 238, 95);
}

#main-page {
  width: 1000px;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.main-column {
  display: flex;
  flex-direction: column;
  width: 270px;
  background-color: white;
  height: 700px;
  border-top-right-radius: 5px;
}

.main-column h1 {
  padding-left: 5px;
  margin-top: 0px;
  background-color: black;
  color: white;
  border-top-right-radius: 5px;
}

.main-column button {
  width: 80%;
  height: 30px;
  margin: 10px auto;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 18px;
}

.main-column button:hover {
  color: white;
  background-color: black;
}

.messages-column {
  width: 730px;
  padding: 0px 20px;
}

#message-list {
  margin-left: 0;
  padding: 0;
}

#message-list .message {
  list-style: none;
}

#input-field {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#input-field input {
  width: 700px;
  height: 50px;
  border-radius: 3px;
  padding-left: 10px;
  font-size: 16px;
  outline: 0;
  background-color: white;
  border: 1px solid white;
  margin-right: 10px;
}

#input-field input:focus {
  border: 2px solid black;
}

#input-field button {
  width: 80px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 16px;
  background-color: white;
  outline: 0;
}

#input-field button:hover {
  background-color: black;
  color: white;
}

#message-list {
  max-height: 500px;
  overflow: auto;
}

#message-list li p:nth-child(1) {
  color: white;
  font-size: 24px;
  margin-bottom: 0px;
}

#message-list li p:nth-child(2) {
  font-size: 20px;
  margin: 0px;
}

#message-list li p:nth-child(3) {
  color: rgb(80, 79, 79);
  font-size: 14px;
  margin-top: 0px;
  border-bottom: 1px dashed black;
}

#messages-typing {
  margin-top: 0;
  font-size: 25px;
}

#messages-typing span {
  color: white;
}